/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main {
    text-align: center;
    padding: 20px;
}

.mahe {
    margin-top: 40px;
}

.markaz {
    font-size: 2.5em;
    color: #333;
}
.logos{
    margin-top: -90px;

}
.logo {
    max-width: 100%;
    height: auto;
}

.btn {
    margin-top: -115px;
}

.btn button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
.btn button a{
    text-decoration: none;

}
.btn button:hover {
    background-color: #45a049;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .markaz {
        font-size: 2em;
    }

    .btn button {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .markaz {
        font-size: 1.5em;
    }

    .btn {
        margin-top: 20px; /* Reduce margin for smaller devices */
    }
}
